label {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: rgba(23, 23, 23, 0.76);
}

.all_close_btn {
  width: 53px;
}

.all_save_btn {
  width: 41px;
}

.all_cont_btn {
  height: 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px; 
  line-height: 15px;
  color: #004665;
  background: rgba(146, 167, 199, 0.28);
  border-radius: 5px;
  border: none;
  margin: 17px 30px 17px 0px;
}

.confirm_all {
  width: 800px;
  height: 600px;
  background: #fff;
  transition: 0.6s;
  z-index: 100;
  position: absolute;
  top: -800px;
  left: calc(40% - 220px);
  border-radius: 15px;
}

.confirm_all.show_all {
  top: calc(27% - 140px);
}

.all_confirm-content {
  width: 800px;
  height: 451px;
}

.overlay_all {
  width: 100vw;
  height: 100vh;
  background: rgba(28, 36, 52, 0.67);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.confirm_all.show_all + .overlay_all {
  display: block;
}

.button {
  background: none;
  border: 3px solid #fff;
  color: black;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 4rem;
}

/* @media screen and (max-width: px) {
  
} */
