label {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: rgba(23, 23, 23, 0.76);
}

.edit_close_btn {
  width: 53px;
}

.edit_save_btn {
  width: 41px;
}

.edit_cont_btn {
  height: 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #004665;
  background: rgba(146, 167, 199, 0.28);
  border-radius: 5px;
  border: none;
  margin: 17px 30px 17px 0px;
}

.confirm_edit {
  width: 800px;
  height: 600px;
  background: #fff;
  transition: 0.6s;
  z-index: 100;
  position: absolute;
  top: -800px;
  left: calc(40% - 220px);
  border-radius: 15px;
}

.confirm_edit.show_edit {
  top: calc(27% - 140px);
}

.edit_confirm-content {
  width: 800px;
  height: 451px;
}

.overlay_edit {
  width: 100vw;
  height: 100vh;
  background: rgba(28, 36, 52, 0.67);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.confirm_edit.show_edit + .overlay_edit {
  display: block;
}

.button {
  background: none;
  border: 3px solid #fff;
  color: black;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 4rem;
}

/* ! Status */

.status_close_btn {
  width: 53px;
}

.status_save_btn {
  width: 41px;
}

.status_cont_btn {
  height: 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #004665;
  background: rgba(146, 167, 199, 0.28);
  border-radius: 5px;
  border: none;
  margin: 17px 30px 17px 0px;
}

.confirm_status {
  width: 800px;
  height: 395px;
  background: #fff;
  transition: 0.6s;
  z-index: 100;
  position: absolute;
  top: -800px;
  left: calc(40% - 220px);
  border-radius: 15px;
}

.confirm_status.show_status {
  top: calc(45% - 140px);
}

.status_confirm-content {
  width: 800px;
  height: 451px;
}

.overlay_status {
  width: 100vw;
  height: 100vh;
  background: rgba(28, 36, 52, 0.67);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.confirm_status.show_status + .overlay_status {
  display: block;
}

.status_text p {
  margin: 0;
  width: 338px;
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}

.status_input {
  width: 339px;
  height: 53px;
}

.status_input label {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: rgba(23, 23, 23, 0.76);
}

.status_input input {
  margin: 0;
  width: 325px;
  height: 30px;
  border: 3px solid #004665;
  border-radius: 5px;
}

/* ! Delete start */

.delete_close_btn {
  width: 53px;
}

.delete_save_btn {
  width: 41px;
}

.delete_cont_btn {
  height: 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #004665;
  background: rgba(146, 167, 199, 0.28);
  border-radius: 5px;
  border: none;
  margin: 17px 30px 17px 0px;
}

.confirm_delete {
  width: 800px;
  height: 395px;
  background: #fff;
  transition: 0.6s;
  z-index: 100;
  position: absolute;
  top: -800px;
  left: calc(40% - 220px);
  border-radius: 15px;
}

.confirm_delete.show_delete {
  top: calc(45% - 140px);
}

.delete_confirm-content {
  width: 800px;
  height: 451px;
}

.overlay_delete {
  width: 100vw;
  height: 100vh;
  background: rgba(28, 36, 52, 0.67);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.confirm_delete.show_delete + .overlay_delete {
  display: block;
}

.delete_text p {
  margin: 0;
  width: 338px;
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}

.delete_input {
  width: 339px;
  height: 53px;
}

.delete_input label {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: rgba(23, 23, 23, 0.76);
}

.delete_input input {
  margin: 0;
  width: 325px;
  height: 30px;
  border: 3px solid #004665;
  border-radius: 5px;
}

/* .status_main_block {
  width: 800px;
  height: 246px;
  display: flex;
  align-items: center;
  border: 3px solid #004665;
}


.status_comtent {
  width: 800px;
  height: 246px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.status_img {
  margin-bottom: 15px;
}

.status_text {
  margin-bottom: 19px;
}

.status_input {
  display: flex;
  flex-direction: column;
} */
